[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"
ipython = "*"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
sqlalchemy-migrate = "*"
flask-login = "*"
flask-openid = "*"
flask-bootstrap = "*"
flask-moment = "*"
flask-migrate = "*"
flask-mail = "*"
flask-script = "*"
psycopg2 = "*"
flask-session = "*"
redis = "*"

[requires]
python_version = "3.6"
