{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<div class="container">
    <!-- {{ get_flashed_messages() }} -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <h1 class="text-center">Write SOMETHING!!!</h1>
    {% if name %}
    <h2>I'm {{name}}</h2>
    {% endif %}
    {{ wtf.quick_form(form) }}
</div>
<!-- <div>
    <h2>表单渲染</h2>
    <form>
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        {{ form.name() }}
        {{ form.submit() }}
    </form>
</div> -->
{% endblock %}