<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ user.username }}'s WatchList</title>
</head>

<body>
    <a href="{{ url_for('index') }}">&larr; Return</a>
</body>
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
<h2>{{user.username}}</h2>
{% if user.bio %}
<li>{{ user.bio }}</li>
{% else %}
<li>This user have not provided a bio.</li>
{% endif %}
{# 下面是电影清单 #}
<h5>{{ user.username }}'s WatchList ({{ movies|length }}):</h5>
<ul>
    {% for movie in movies %}
    <li>{{ movie.name }} - {{ movie.year }}</li>
    {% endfor %}
</ul>
<br>
<b>{{ foo }}</b>
<br>
<p>{{ test() }}</p>
<br>
{{ lipsum(n=1)}}
<br>
{{ bar() }}


</html>